@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Quattrocento+Sans&display=swap');


body {
  background-image:url("img/sfondi-deco/flowers-3862320.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  font-family: 'Quattrocento Sans', sans-serif;
}




#heading {
  grid-column:1 / span 1;
  grid-row-start:2;
  grid-row-end:span 1;
  position:relative;
}

#ulmenu {
  margin:0;
  padding:0;
}



#home {
  list-style-type:none;
  position:absolute;
  top:20%;
  left:42.5%;
}

#home img {
  width:13vw;
  height:13vw;
  transition:all 1s;
}

#home img:hover {
  width:13vw;
  height:13vw;
}

.menu  {
  list-style-type:none;
}

.menu a {
  text-decoration:none;
  color:black;
  padding:3vw 2vw;
  font-size:2.7vw;
  font-weight:bold;
  font-family: 'Allura', cursive;
  transition:all 1s;
}

.menu a:hover {
  font-size:2.9vw;
}

#menuc {
  position:absolute;
  top:51%;
  left:0.2%;
  cursor:pointer;
}


#menua  {
  position:absolute;
  top:51%;
  left:19%;
}


#menus  {
  position:absolute;
  top:51%;
  right:19%;
  cursor:pointer;
}

#menuo  {
  position: absolute;
  top:51%;
  right:1%;
}

#candle1, #candle2, #candle3, #candle4 {
  width:4vw;
  height:4vw;
}

#bowC1, #bowC1_1, #bowC2, #bowC2_1, #bowS1, #bowS1_1, #bowS2, #bowS2_1, #bowCo, #bowCo1, #bowN1, #bowN1_1, #bowN2, #bowN2_1, #bowN3, #bowN3_1 {
  width:1.8vw;
  height:1.8vw;
}

.lucchetto {
  width:1vw;
  height:1vw;
}

#candele {
  display:none;
  position:absolute;
  top:90%;
  left:9%;
  list-style-type:none;
  padding:24px 0 26px 0;
  margin:1.9vw 0 0 0;
  border:1px solid transparent;
  border-image-source:url('img/icone/noun_Frame_1197744.png');
  border-image-slice: 60;
  border-image-repeat:stretch;
  border-image-width: 2vw;
  width:110%;
}

#candele li a {
  font-size: 2.5vw;
  font-family: 'Allura', cursive;
}

#speciali {
  display:none;
  position:absolute;
  top:90%;
  left:9.5%;
  list-style-type:none;
  padding:24px 0 26px 0;
  margin:1.9vw 0 0 0;
  border:1px solid transparent;
  border-image-source:url('img/icone/noun_Frame_1197744.png');
  border-image-slice: 60;
  border-image-repeat:stretch;
  border-image-width: 2vw;
  width:110%;
}

 #bottoneNatale a, #bottoneCompleanno a {
  font-size:2.5vw;
}



#contenuto {
  background-color:rgba(255,255,255,0.4);
  margin:0.2vw;
  padding:4vw 0vw 1vw 0vw;
  border:0.3px solid transparent;
  border-image-source:url('img/icone/noun_decoration_1503924.png');
  border-image-slice:80;
  border-image-width:15px;
  border-image-repeat:round;
  border-image-outset:9px;
  outline:5px solid rgb(255,255,255,0.1);
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 550px auto auto auto auto 100px;
}


#titolo {
  grid-column-start:1;
  grid-column-end:span 1;
  grid-row:1 / span 1;
  justify-self:center;
  align-self:center;
  font-family: 'Allura', cursive;
}


#logo {
  height:40vw;
  width:96vw;
  transition:all 0.6s;

}

#logo:hover {
  height:41.5vw;
  width:97.5vw;
}

#titolo h3 {
  font-family: 'Allura', cursive;
  font-size:35px;
  text-align:center;
  margin:0;
  font-weight:bold;
}



#frecciaSu {
  position:fixed;
  bottom:0;
  right:0;
  transition:all 0.7s;
  padding:0.4px 0;
  opacity:0.6;
}

#frecciaSu:hover {
  padding:0 0 10px 0;
  opacity:1;
}

#frecciaSu img {
  width:48px;
  height:48px;
}



footer {
  grid-column-start:1;
  grid-column-end:span 1;
  grid-row-start:6;
  grid-row-end: span 1;
  align-self:end;
  justify-self:start;
  font-family:'Jim Nightshade';
  font-size:19px;
}

#piede {
  font-family:'Jim Nightshade';
  font-size:0.01px;
  transition:all 1.5s;
  padding:50px 1px;
}

#piede:hover {
  font-size:19px;
  height:0.1vw;
  width:0.1vw;
}

.iconCreators {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

#like {
  height:20px;
  width:20px;
}

#arrowHome {
  height:20px;
  width:23px;
}
